@font-face {
    font-family: 'Noto Sans';
    src: url(font.ttf) format('tff');
}

body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
}

audio {
    position: absolute;
    visibility: none;
}